.customize-container {
	width: 85%;
}

.nav-link {
	color: #7B3F00 !important;
}

.nav-item .fa-facebook-f {
	color: #4267B2 !important;
}

.nav-item .fa-instagram {
	background: -webkit-linear-gradient(#F77737, #F07438, #451D5C) ;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.nav-item .fa-twitter {
	color: #1DA1F2 !important;
}

.active {
	color: #FD788B !important;
}

#home-banner {
	height: 585px;
	background-image: url("../image/home-banner.jpg");
	background-size: cover;
}

#home-banner p, #story-banner p {
	font-size: 5vw;
	color: #7B3F00;
}

.menu {
	border: 1px solid #7B3F00;
	color: #7B3F00;
}

.menu:hover {
	background: #7B3F00;
	color: white;
}

#welcome {
	background: #B3E0FF;
}

#welcome .d-md-flex h1 {
	color: #FD788B;
}

#welcome .d-md-flex p {
	line-height: 30px;
	color: black;
}

#best-seller {
	height: auto;
	background: #FEB4BF;
}

#best-seller h1 {
	color: #7B3F00;
}

#best-seller p, #beginning p {
	line-height: 30px;
	color: black; 
}

.best-selling-1, .best-selling-2, .best-selling-3 {
	width: 30%;
	height: 350px;
	border: 1px solid #7B3F00;
	background: #7B3F00;
	transition: transform .2s;
	border-radius: 25px;
}

.best-selling-1:hover, .best-selling-2:hover, .best-selling-3:hover {
	transform: scale(1.1);
}

#best-seller img{
	border-radius: 25px;
}

#footer .social-media, #footer .contact-details, #footer .quick-links {
	width: 30%;
}

#footer h3 {
	color: #FD788B;
}

#footer a, .copyright {
	color: #7B3F00;
}

#story-banner {
	height: 585px;
	background-image: url("../image/about-banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#beginning {
	background: #FEB4BF;
}

#beginning h1 {
	color: #7B3F00;
}

#beginning img {
	border-radius: 70px;
}